@import url('https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:rgb(11, 12, 16);
  position: relative;
  padding-top: 9.785rem;
  overflow: hidden;
}

/* MAIN STYLING */
/* MOBILE SCREEN */
/* COMPETITIONS GAMES LIVES */
.tab-container-mobile {
  width: 100%; /* Adjust as needed */
  display: none;
}

.tabs {
  display: flex;
  align-items: center;
}

.tab-button {
  padding: 10px 20px;
  width: calc(100% / 3);
  height: 100%;
  border: none;
  background-color: transparent;
  color: #c5c6c7;
  cursor: pointer;
  position: relative;
  transition: transform 0.2 ease, box-shadow 0.2 ease;
}

.tab-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 2px;
  background-color: #66fcf1; /* Active tab underline */
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tab-button.active::after,
.tab-button:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.tab-button:hover {
  transform: translateY(-3px);
  box-shadow:  0 4px 6px rgba(0, 0, 0, 0.4);
}

.tab-content {
  padding: 30px;
}

.tab-panel {
  display: none; /* Hide all panels by default */
}

.tab-panel.active {
  display: block; /* Show active panel */
}

/* COMPETITIONS STYLING */
/* FOOTBALL STYLING */
.sport-item {
  color: #fff;
}

.league-list, .sub-league-list {
  overflow: hidden;
  list-style-type: none;
  padding-left: 20px;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.league-list {
  /* overflow-y: auto;
  max-height: calc(100vh - 100px); */
}

.sport-title .fa-solid, .league-title .fa-solid {
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.fa-caret-down {
  transform: rotate(5deg);
}
.league-list.show, .sub-league-list.show {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sport-title,
.league-title {
  background-color: #1f2833;
  color: #c5c6c7;
  font-weight: 500;
  padding: 0.63rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin-bottom: 0.3125rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
  cursor: pointer;
}
.sport-title.active,
.league-title.active {
  background: linear-gradient(145deg, #52c7c0, #1f2833);
  color: #1f2833;
}




.sport-title:hover,
.league-title:hover,
.comp-list:hover {
  background: linear-gradient(145deg, #52c7c0, #1f2833);
  color: #1f2833;
}
.sport-title svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #66fcf1;
  transition: fill 0.2s ease-in-out;
}
.sport-title:hover svg {
  fill: #1f2833;
}
.side-sports-bar:not(.collapsed) .sport-title svg {
  margin-right: 0.63rem;
}


.league-title,
.comp-list {
  display: flex;
  align-items: center;
}

.comp-list{
  font-weight: 400;
  background-color: #1f2833;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-bottom: 0.3125rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
  cursor: pointer;
}

 .country-flags,
 .league-logo {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 10px;
}

.sub-league-list {
  padding-left: 20px; /* Indent sub-leagues further */
}

/* DESKTOP SIDE-NAV STYLING */
.sports-desktop-container {
  display: flex;
  color: #c5c6c7;
  position: fixed;
  top: 9.785rem;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.side-sports-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15.625rem;
  background-color: #1f2833;
  transition: width 0.5s ease-in-out;
  padding: 0.63rem;
}
.side-sports-bar.collapsed {
  width: 3.125rem;
}
.side-sports-bar.collapsed .sport-title span {
  display: none;
}
.sports-toggle-btn {
  width: 100%;
  background-color: #66fcf1;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sports-toggle-btn:hover {
  background-color: #52c7c0;
}
.sports-content {
  height: 100vh;
  /* background-color: red; */
  overflow-y: auto;
}
.sports-content2 {
  color: #fff;
  flex-grow: 1;
  padding: 1.25rem;
  transition: margin-left 0.3s ease-in-out;
}
.side-sports-bar.collapsed + .sports-content2 {
  margin-left: 3.125rem;
}
.side-sports-bar.collapsed .sport-title {
  display: flex;
  justify-content: center;
}

